{
  "$schema": "https://opencode.ai/config.json",
  "agent": {
    "vnpt-review-orchestrator": {
      "mode": "primary",
      "prompt": "{file:./.opencode/agents/vnpt-review-orchestrator.md}",
      "model": "minimax/MiniMax-M2.7",
      "permission": {
        "task": {
          "*": "allow"
        },
        "edit": "allow"
      }
    },
    "vnpt-review-auditor": {
      "mode": "subagent",
      "prompt": "{file:./.opencode/agents/vnpt-review-auditor.md}",
      "model": "minimax/MiniMax-M2.7"
    },
    "vnpt-fix-worker": {
      "mode": "subagent",
      "prompt": "{file:./.opencode/agents/vnpt-fix-worker.md}",
      "model": "minimax/MiniMax-M2.7"
    }
  }
}
